Package: com.blakeboxberger.pridebars
Name: PrideBars
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Show pride in your carrier signal bars!
Maintainer: Blake Boxberger
Author: Blake Boxberger
Section: Tweaks
